<!DOCTYPE html>
<html lang="en" data-theme="dracula" class="dark">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guerre des Maths</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.31.0/dist/full.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>

    <nav class="navbar bg-base-100">

        <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
            <div class="flex flex-shrink-0 items-center">
                <img class="block h-8 w-auto lg:hidden" src="/assets/company_logo.png" alt="Your Company">
                <img class="hidden h-8 w-auto lg:block" src="/assets/company_logo.png" alt="Your Company">
            </div>

        </div>
        <div class="flex-none">
            <ul class="menu menu-horizontal p-0">
                <li><a href="/profile">Your Profile</a></li>
                <li><a href="/signup">Sign Up</a></li>
                <li><a href="/login">Sign In</a></li>
                <li><a href="/signout">Log Out</a></li>
            </ul>
        </div>
    </nav>



</body>

</html>