<%- include("partials/header") -%>
    <ul>
        <% for(var i=0; i < problems.length; i++) { %>
            <li>
                <a href="/problem/<%= problems[i]._id%>">
                    <img src="<%= problems[i].image %>">
                </a>
            </li>
            <% } %>
    </ul>
    <%- include("partials/footer") -%>