<%- include("partials/header") -%>
    <main>
        <h1>Test yourself and your math know-how by posting and answering real-life math questions</h1>
    </main>
    <%- include("partials/footer") -%>