<%- include("partials/header") -%>

    <main class="hero min-h-screen bg-base-200">
        <div class="hero-content flex-col lg:flex-row">
            <img src="/assets/hero_image.png" class="max-w-sm rounded-lg shadow-2xl" />
            <div>
                <h1 class="text-5xl font-bold">Do you have what it takes?</h1>
                <p class="py-6">Test yourself and your math know-how by posting and answering real-life math questions
                </p>
                <button class="btn btn-primary"><a href="/signup">Sign Up</a></button>
            </div>
        </div>
    </main>

    <%- include("partials/footer") -%>