<%- include("partials/header") -%>

    <div class="hero min-h-screen bg-base-200">
        <div class="hero-content flex-col lg:flex-row-reverse">
            <div class="text-center lg:text-left">
                <h1 class="text-5xl font-bold">Posez un problème</h1>
                <p class="py-6">Post your math problem for others to solve</p>
            </div>
            <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
                <div class="card-body">
                    <form action="/problems/createProblem" enctype="multipart/form-data" method="POST">
                        <div class="form-control">
                            <label for="title" class="label">
                                <span class="label-text">Titre (title of your math problem)</span>
                            </label>
                            <input type="text" placeholder="Titre du problème" name="title" id="title"
                                class="input input-bordered" />
                        </div>
                        <div class="form-control">
                            <label for="problem" class="label">
                                <span class="label-text">Le problème (the problem to solve)</span>
                            </label>
                            <textarea name="problem" id="problem" class="textarea textarea-bordered h-24"
                                placeholder="Le problème"></textarea>
                        </div>

                        <div class="form-control">
                            <label for="imgUpload"
                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300">
                                <span class="label-text">L'image (image to visualize the problem)</span>
                            </label>
                            <input type="file" name="file" id="imgUpload"
                                class="block w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 cursor-pointer dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400" />
                        </div>

                        <div class="form-control">
                            <label for="answer" class="label">
                                <span class="label-text">La réponse (the answer)</span>
                            </label>
                            <input type="text" placeholder="La réponse" name="answer" id="answer"
                                class="input input-bordered" />
                        </div>
                        <div class="form-control mt-6">
                            <button class="btn btn-primary" value="Upload">Posez le problème</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <div class="hidden sm:block" aria-hidden="true">
        <div class="py-5">
            <div class="border-t border-gray-200"></div>
        </div>
    </div>
    <ul>
        <% for(let i=0; i<problems.length; i++) { %>
            <li>
                <a href="/problems/<%=problems[i]._id%>">
                    <img src="<%= problems[i].image%>">
                </a>
            </li>
            <%} %>
    </ul>
    <a href="/feed">Solve All Problems</a>
    <%- include("partials/footer") -%>